/* styles.css */
body {
    font-family: 'Patrick Hand', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('https://i.pinimg.com/originals/86/88/1b/86881b6f8f2343756541782b61234904.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    border: 2px solid #ccc;
    border-top: 10px solid #f0f0f0;
    border-bottom: 10px solid #f0f0f0;
    position: relative;
    margin: 20px 0;
}

#content::before,
#content::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: #f0f0f0;
    top: -12px;
    transform: rotate(-5deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#content::before {
    left: 20px;
}

#content::after {
    right: 20px;
    transform: rotate(5deg);
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

#quote {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#new-quote {
    padding: 10px 20px;
    background: #1c1c1c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
}

#new-quote:hover {
    background: #333;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #content {
        width: 100%;
        padding: 10px;
    }
}