/* styles.css */
body {
    font-family: 'Patrick Hand', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('https://i.pinimg.com/originals/86/88/1b/86881b6f8f2343756541782b61234904.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background: #fff;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    position: relative;
    margin: 20px 0;
    border-radius: 50% / 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

#content::before,
#content::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

#content::before {
    width: 30px;
    height: 30px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#content::after {
    width: 20px;
    height: 20px;
    bottom: -40px;
    left: 55%;
    transform: translateX(-50%);
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

#quote {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#new-quote {
    padding: 10px 20px;
    background: #1c1c1c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
}

#new-quote:hover {
    background: #333;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #content {
        width: 100%;
        padding: 10px;
    }
}